<header>
    <span class="name">Ka<p>i</p><div class="spaceLeft">W</div><p>i</p>eh<div class="purple">e</div></span>
    <div class="menu">
        <a href="#aboutMe">About me</a>
        <a href="#mySkills">Skills</a>
        <a href="#portfolio">Portfolio</a>
    </div>

    <div class="mobileMenu" (click)="openMenu()" #menu>
        <svg viewBox="0 0 200 200">
            <g>
              <path d="M72 82.286h28.75"/>
              <path d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554" fill="none"/>
              <path d="M72 125.143h28.75"/>
              <path d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554" fill="none"/>
              <path d="M100.75 82.286h28.75"/>
              <path d="M100.75 125.143h28.75"/>
            </g>
        </svg>
    </div>
</header>
