@import '../../variables.scss';
footer {
    height: 15rem;
    width: 100%;
    background: #141D2F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 11rem 0 0 0;
    border-top: 4px solid $Green;
    z-index: 1;
    position: relative;
    .left {
        margin: 0 0 0 7rem;
        .name {
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            p {
                color: $Green;
                margin: 0;
            }
            .spaceLeft {
                margin: 0 0 0 0.75rem;
            }
            .purple {
                color: $Purple;
            }
        }
        .imprint {
            position: relative;
            &:hover {
                /* border-bottom: 2px solid $LightBlue; */
                cursor: pointer;
                .underline {
                    animation: borderBlue 125ms ease-in-out both;
                }
            }
            .underline {
                background: $LightBlue;
                width: 0;
                height: 2px;
                position: absolute;
                left: -2px;
                bottom: 0;
            }
        }
        @media (max-width: 750px) {
            margin: 2rem 0 0 0;
        }
    }
    @media (max-width: 750px) {
        flex-direction: column;
    }
}

.middle {
    font-size: 1.5rem;
    @media (max-width: 850px) {
        font-size: 1rem;
    }
}

.right {
    margin: 0 7rem 0 0;
    gap: 2rem;
    display: flex;
    img {
        transition: all 125ms ease-in-out;
        &:hover {
            scale: 1.2;
            cursor: pointer;
        }
    }
    @media (max-width: 750px) {
        margin: 0 0 2rem 0;
    }
}

@keyframes borderBlue {
    0% {
        width: 0;
    }
    100% {
        width: 2.5rem;
    }
}