<footer>
    <div class="left">
        <span class="name">Ka<p>i</p><div class="spaceLeft">W</div><p>i</p>eh<div class="purple">e</div></span>
        <span class="imprint">
          Imprint
          <img class="underline" src="assets/img/icons/underline.png" alt="underline">
        </span>
    </div>
    <div class="middle">
        © Kai Wiehe 2023
    </div>
    <div class="right">
        <img src="assets/img/icons/gitHub.png" alt="gitHub">
        <img src="assets/img/icons/mail.png" alt="mail">
        <img src="assets/img/icons/linkedin.png" alt="linkedin">
    </div>
</footer>
