<section id="aboutMe">
    <div class="left">
        <h1 translate>About me</h1>
        <p class="text1" translate>I am a German-speaking Web Developer with experience in building web apps with JavaScript & Angular. You are welcome to visit my public portfolio, which includes responsive websites and business apps.</p>
        <div>
            <img class="noselect" src="assets/img/icons/bulb.png" alt="bulb">
            <p class="text2" translate>I’ve always been fascinated by Software that simplifies my life. To take my skills to a professional level, I decided to train as a front-end developer at the Developer Akademie.</p>
        </div>
        <div>
            <img class="noselect" src="assets/img/icons/puzzle.png" alt="puzzel">
            <p class="text3" translate>There, I quickly deepen my knowledge in several individual or group projects and got feedback on them in regular code reviews. As a junior front-end developer, I am looking forward to putting my knowledge to the test and would like to support
                you as part of your software team.</p>
        </div>
    </div>

    <div class="right">
        <img class="border noselect" src="assets/img/kaiOhneBG.png" alt="Image2">
        <img class="strokeGreen noselect" src="assets/img/icons/strokeGreen.png" alt="strokeGreen">
        <img class="purpleShadow noselect" src="assets/img/shadows/purpleShadow.png" alt="purpleShadow">
    </div>

</section>
