<section id="aboutMe">
    <div class="left">
        <h1>About me</h1>
        <p class="text1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit corrupti maxime natus sit voluptatum iusto molestias, suscipit maiores numquam ratione at, deserunt quam qui debitis quod veniam distinctio inventore saepe? Et deleniti eius ducimus
            maiores repellat. Deserunt id libero qui nulla eius eveniet vos.</p>
        <div>
            <img src="assets/img/icons/bulb.png" alt="bulb">
            <p class="text2">Lorem, ipsum dolor sit aollitia commodi illo. Nisi blanditiis fugit nihil exercitationem a minima quibusdam repudiandae molestias quo? Qui.</p>
        </div>
        <div>
            <img src="assets/img/icons/puzzle.png" alt="puzzel">
            <p class="text3">Lorem, ipsum dolor sit allitia commodi illo. Nisi blanditiis fugit nihil exercitationem a minima quibusdam repudiandae molestias quo? Qui.</p>
        </div>
    </div>

    <div class="right">
        <img class="border" src="assets/img/test2.png" alt="Image2">
        <img class="strokeGreen" src="assets/img/icons/strokeGreen.png" alt="strokeGreen">
        <img class="purpleShadow" src="assets/img/shadows/purpleShadow.png" alt="purpleShadow">
    </div>

</section>