<section id="aboutMe">
    <div class="left">
        <h1 translate>About me</h1>
        <p class="text1" translate>Hi, I am a Front-end developer located in Stralsund, Germany. I created several web applications and completed a project-oriented coding school in front-end development. I am passionate about web app development and would like to prove my skills
            in the job world and create useful software together with you.</p>
        <div>
            <img class="noselect" src="assets/img/icons/bulb.png" alt="bulb">
            <p class="text2" translate>I completed my training as a developer at the Developer Akademie in Munich. The last time I was able to collect extensive experience in various projects, beginning with simple one-pager websites up to games and business applications with JavaScript
                and Angular. For each project, I received a detailed code review from experienced programmers at the academy, which showed me how to write clean code right from the start.</p>
        </div>
        <div>
            <img class="noselect" src="assets/img/icons/puzzle.png" alt="puzzel">
            <p class="text3" translate>My participation in group projects provided me with valuable insight into collaborating on software development projects. I am eager to leverage my skills and experience to contribute to your company's success as your new Junior Web Developer.</p>
        </div>
    </div>

    <div class="right">
        <img class="border noselect" src="assets/img/profileImg3.png" alt="Image2">
        <img class="strokeGreen noselect" src="assets/img/icons/strokeGreen.png" alt="strokeGreen">
        <img class="purpleShadow noselect" src="assets/img/shadows/purpleShadow.png" alt="purpleShadow">
    </div>

</section>