$Green: #70E61C;
$LightBlue: #1CDAE6;
$Purple: #9747FF;
$DarkBlueTransparency: #141d2fcc;
$DarkBlueBG: #141D2F;

/* ------------------------------------------------------------- */

section {
    z-index: 1;
    position: relative;
    color: white;
    margin: 0 0 0 7rem;
    display: flex;
    align-items: center;
    /* padding: 3rem 0 0 0; */
    height: 100vh;
    @media (max-width: 650px) {
        margin: 0 0 0 2rem;
    }
}

h1 {
    font-size: 6.5rem;
    @media (max-width: "1300px") {
        font-size: 5.5rem;
    }
    @media (max-width: "690px") {
        font-size: 4.5rem;
    }
}

.left {
    div {
        display: flex;
    }
    .text1 {
        width: 85%;
        @media (max-width: "1000px") {
            width: 100%;
        }
    }
    .text2,
    .text3 {
        width: 73%;
        @media (max-width: "1000px") {
            width: 100%;
        }
    }
    img {
        object-fit: contain;
        margin: 0 1rem 0 0;
    }
    @media (max-width: 1000px) {
        margin: 0 7rem 0 0;
    }
    @media (max-width: 650px) {
        margin: 0 2rem 0 0;
    }
}

.right {
    position: relative;
    .border {
        border-radius: 100%;
        border: 5px solid $Green;
        margin: 0 10rem 0 0;
        @media (max-width: "1300px") {
            width: 20rem;
        }
        @media (max-width: "1000px") {
            display: none;
        }
    }
    .strokeGreen {
        position: absolute;
        right: -6.5rem;
        top: 50%;
        @media (max-width: "1000px") {
            display: none;
        }
    }
    .purpleShadow {
        position: absolute;
        right: 0;
        z-index: -1;
        top: -14rem;
        width: 15rem;
    }
}