<section>
    <div class="img">
        <img class="shadow" src="assets/img/shadows/photoShadows.png" alt="photoShadows.png">
        <img class="picture" src="assets/img/test.png" alt="Img">
    </div>
    <div class="iAmContainer">
        <div class="iAmText">
            <div class="iAm">I am</div>
            <div class="collum">
                <div class="name">Kai Wiehe</div>
                <div class="job">FRONTEND DEVELOPER</div>
            </div>
        </div>
        <button class="greenButton" (click)="scollToContact()">Let's talk!</button>
    </div>
    <img class="bg" src="assets/img/bg.png">
    <a class="scrollDown" href="#aboutMe">
        <span>Scroll down</span>
        <img src="assets/img/icons/arrowDown.png">
    </a>
    <div class="linkList ">
        <img src="assets/img/icons/strokePurple.png">
        <a href="https://github.com/KaiWiehe" target="_blank">
            <img src="assets/img/icons/gitHub.png" alt="GitHub">
        </a>
        <a href="#contact">
            <img src="assets/img/icons/mail.png" alt="Mail">
        </a>
        <a href="#" target="_blank">
            <img src="assets/img/icons/linkedin.png" alt="Linkedin">
        </a>
        <a href="#contact">Kai_Wiehe@live.de</a>
    </div>
</section>