@import '../../variables.scss';
section {
    display: flex;
    position: relative;
    min-height: calc( 100vh - 64px);
    margin: 64px 0 0 0;
}

.img {
    @media (max-width: "1350px") {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (max-height: "1200px") and (max-width: "1350px") {
        bottom: -5rem;
    }
    @media (max-height: "1100px") and (max-width: "1350px") {
        bottom: -3rem;
    }
    @media (max-height: "1000px") and (max-width: "1350px") {
        bottom: -5rem;
    }
    @media (max-height: "950px") and (max-width: "1350px") {
        bottom: -11rem;
    }
    @media (max-height: "850px") and (max-width: "1350px") {
        bottom: -14rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        bottom: -7rem;
    }
    @media (max-width: "650px") {
        bottom: -7rem;
    }
}

.picture {
    width: 29rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin: 0 0 0 7rem;
    @media (max-width: "1350px") {
        margin: 0 0 0 5rem;
    }
    @media (max-height: "1200px") and (max-width: "1350px") {
        width: 35rem;
    }
    @media (max-height: "1100px") and (max-width: "1350px") {
        width: 30rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        width: 25rem;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        width: 20rem;
    }
}

.shadow {
    position: absolute;
    z-index: -1;
    left: -4rem;
    top: 3rem;
    @media (max-width: "1350px") {
        left: -7rem;
    }
    @media (max-width: "1350px") and (max-height: "720px") {
        left: -10rem;
    }
}

.iAmContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    right: 7rem;
    top: 10rem;
    align-items: center;
    z-index: 1;
    @media (max-width: "1350px") {
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -9rem;
        width: max-content;
        top: unset;
        height: 21rem;
    }
    @media (max-height: "1000px") and (max-width: "1350px") {
        bottom: -9rem;
    }
    @media (min-height: "1000px") and (max-width: "1050px") {
        bottom: -9rem;
    }
    @media (max-width: 530px) {
        bottom: -11rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        bottom: -11rem;
    }
    @media (max-height: "800px") and (max-width: "900px") {
        bottom: -12rem;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        bottom: -14rem;
    }
    @media (max-width: "650px") and (max-height: 720px) {
        bottom: -16rem;
    }
}

.iAm {
    rotate: -90deg;
    font-size: 4.5rem;
    margin: 1rem -4rem 0 0;
    @media (max-width: "1350px") {
        font-size: 3rem;
        margin: 1rem -3rem 0 0;
    }
    @media (max-width: 530px) {
        font-size: 2.4rem;
        margin: 1rem -2.5rem 0 0;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        font-size: 2.4rem;
        margin: 1rem -2.5rem 0 0;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        font-size: 1.4rem;
        margin: 0.5rem -1.6rem 0 0;
    }
}

.name {
    font-size: 6.5rem;
    font-weight: 700;
    @media /* (max-height: "1000px") and */
    (max-width: "1350px") {
        font-size: 4.5rem;
    }
    @media (max-width: 530px) {
        font-size: 3.5rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        font-size: 3.5rem;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        font-size: 2.1rem;
    }
}

.job {
    font-size: 3.1rem;
    color: $Purple;
    position: relative;
    margin: -1rem 0 0 0;
    @media /* (max-height: "1000px") and */
    (max-width: "1350px") {
        font-size: 2.2rem;
    }
    @media (max-width: 530px) {
        font-size: 1.7rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        font-size: 1.7rem;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        font-size: 1rem;
        margin: 0 0 0 0;
    }
}

.bg {
    position: absolute;
    top: 17rem;
    width: 110vw;
    height: 65rem;
    @media (max-width: "1350px") {
        bottom: -17rem;
        top: unset;
    }
    @media (max-width: "530px") {
        bottom: -18rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        bottom: -21rem;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        bottom: -24rem;
    }
    @media (max-width: "650px") and (max-height: 1000px) {
        bottom: -23rem;
        width: 68rem;
    }
    @media (max-width: "650px") and (min-height: 721px) {
        bottom: -18rem;
    }
}

.iAmText {
    display: flex;
}

.greenButton {
    color: white;
    margin: 2rem;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: $Green;
    z-index: 1;
    font-size: 1.5rem;
    transition: all 125ms ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        padding: 1.5rem 2.5rem;
        background: $Purple;
        cursor: pointer;
    }
}

.scrollDown {
    color: white;
    rotate: 90deg;
    font-size: 1.25rem;
    position: absolute;
    bottom: 8rem;
    right: 3rem;
    text-decoration: none;
    transition: all 125ms ease-in-out;
    img {
        rotate: -90deg;
        margin: 0 0 -2px 6px;
    }
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
    @media (max-width: "750px") {
        display: none;
    }
}

.linkList {
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0 -0.3rem;
    z-index: 1;
    cursor: pointer;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: all 125ms ease-in-out;
        display: flex;
        align-items: center;
        &:hover {
            scale: 1.1;
        }
        &.mobileHide {
            @media (max-width: "650px") {
                display: none;
            }
        }
    }
    img {
        transition: all 125ms ease-in-out;
        &:hover {
            scale: 1.2;
        }
    }
    @media (max-width: 650px) {
        bottom: 2rem;
        left: -4rem;
    }
    @media (max-width: 390px) {
        left: -5rem;
    }
}
