$Green: #70E61C;
$LightBlue: #1CDAE6;
$Purple: #9747FF;
$DarkBlueTransparency: #141d2fcc;
$DarkBlueBG: #141D2F;

/* ------------------------------------------------------------- */

section {
    display: flex;
    position: relative;
    height: calc( 100vh - 64px);
}

.img {
    @media (max-width: "1350px") {
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (max-height: "1200px") and (max-width: "1350px") {
        bottom: 8rem;
    }
    @media (max-height: "1100px") and (max-width: "1350px") {
        bottom: 11rem;
    }
    @media (max-height: "1000px") and (max-width: "1350px") {
        bottom: 6rem;
    }
    @media (max-height: "950px") and (max-width: "1350px") {
        bottom: 0;
    }
    @media (max-height: "850px") and (max-width: "1350px") {
        bottom: -3rem;
    }
}

.picture {
    width: 40rem;
    margin: 0 0 0 4rem;
    @media (max-height: "1200px") and (max-width: "1350px") {
        width: 35rem;
    }
    @media (max-height: "1100px") and (max-width: "1350px") {
        width: 30rem;
    }
}

.shadow {
    position: absolute;
    z-index: -1;
    left: -4rem;
    top: 3rem;
}

.iAmContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    right: 7rem;
    top: 10rem;
    align-items: center;
    z-index: 1;
    @media (max-width: "1350px") {
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -4rem;
        width: max-content;
        top: unset;
        height: 21rem;
    }
    @media (max-height: "1000px") and (max-width: "1350px") {
        bottom: -9rem;
    }
}

.iAm {
    rotate: -90deg;
    font-size: 4.5rem;
    margin: 1rem -4rem 0 0;
    @media (max-height: "1000px") and (max-width: "1350px") {
        font-size: 3rem;
        margin: 1rem -3rem 0 0;
    }
}

.name {
    font-size: 6.5rem;
    font-weight: 700;
    @media (max-height: "1000px") and (max-width: "1350px") {
        font-size: 4.5rem;
    }
}

.job {
    font-size: 3.1rem;
    color: $Purple;
    position: relative;
    margin: -1rem 0 0 0;
    @media (max-height: "1000px") and (max-width: "1350px") {
        font-size: 2.2rem;
    }
}

.bg {
    position: absolute;
    top: 17rem;
    width: 110vw;
    height: 65rem;
    @media (max-width: "1350px") {
        bottom: -13rem;
        top: unset;
    }
    @media (max-height: "1000px") and (max-width: "1350px") {
        bottom: -18rem;
    }
}

.iAmText {
    display: flex;
}

.greenButton {
    color: white;
    margin: 2rem;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: $Green;
    z-index: 1;
    font-size: 1.5rem;
    transition: all 125ms ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        padding: 1.5rem 2.5rem;
        background: $Purple;
        cursor: pointer;
    }
}

.scrollDown {
    color: white;
    rotate: 90deg;
    font-size: 1.25rem;
    position: absolute;
    bottom: 8rem;
    right: 3rem;
    text-decoration: none;
    transition: all 125ms ease-in-out;
    img {
        rotate: -90deg;
        margin: 0 0 -2px 6px;
    }
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
    @media (max-width: "750px") {
        display: none;
    }
}

.linkList {
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0 -0.3rem;
    z-index: 1;
    cursor: pointer;
    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: all 125ms ease-in-out;
        &:hover {
            scale: 1.1;
        }
        @media (max-width: "650px") {
            display: none;
        }
    }
    img {
        transition: all 125ms ease-in-out;
        &:hover {
            scale: 1.2;
        }
    }
}
