$Green: #70E61C;
$LightBlue: #1CDAE6;
$Purple: #9747FF;
$DarkBlueTransparency: #141d2fcc;
$DarkBlueBG: #141D2F;

/* ------------------------------------------------------------- */

:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}


/* ------------------------------------------------------------- */

section {
    color: white;
    position: relative;
    padding: 1rem 0 0 0;
}

h1 {
    font-size: 6.5rem;
    position: relative;
    margin: 6rem 0 0 7rem;
    .stroke {
        position: absolute;
        left: -7rem;
        top: 50%;
        @media (max-width: 650px) {
            left: -4rem;
        }
    }
    .purpleShadow {
        position: absolute;
        bottom: -55rem;
        left: -7rem;
        z-index: -1;
    }
    @media (max-width: 650px) {
        margin: 6rem 0 0 2rem;
    }
    @media (max-width: 520px) {
        font-size: 5.5rem;
    }
    @media (max-width: 450px) {
        font-size: 4.5rem;
    }
    @media (max-width: 390px) {
        font-size: 3.5rem;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    .left {
        margin: 0 0 0 7rem;
        width: 40%;
        h2 {
            font-size: 2rem;
            margin-top: 0;
            @media (max-width: 520px) {
                font-size: 1.75rem;
            }
            @media (max-width: 450px) {
                font-size: 1.5rem;
            }
            @media (max-width: 390px) {
                font-size: 1.25rem;
            }
        }
        @media (max-width: 850px) {
            margin: 0 7rem 0 7rem;
            width: calc( 100% - 14rem);
        }
        @media (max-width: 650px) {
            margin: 0 2rem 0 2rem;
            width: calc( 100% - 4rem);
        }
    }
    .right {
        margin: 0.75rem 7rem 0 7rem;
        width: 40%;
        form {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: 30rem;
            input,
            textarea {
                font-family: 'Poppins', Arial, Helvetica, sans-serif;
                padding: 1rem 1.25rem;
                border: 1px solid $Purple;
                border-radius: 0.5rem;
                background: transparent;
                color: white;
                &:hover {
                    border: 1px solid $Green;
                }
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: white;
                    opacity: 1;
                    /* Firefox */
                }
                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: white;
                }
                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: white;
                }
                &:focus-visible {
                    outline: unset;
                    border: 1px solid $Green;
                }
            }
            textarea {
                height: 10rem;
                resize: none;
            }
            .greenButton {
                color: white;
                margin: 0 auto 0 auto;
                border: 0;
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                background: $Green;
                z-index: 1;
                font-size: 1.5rem;
                transition: all 125ms ease-in-out;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                &:hover {
                    padding: 1.5rem 2.5rem;
                    background: $Purple;
                    cursor: pointer;
                }
            }
        }
        @media (max-width: 850px) {
            margin: 0 7rem 0 7rem;
            width: calc( 100% - 14rem);
        }
        @media (max-width: 650px) {
            margin: 0 2rem 0 2rem;
            width: calc( 100% - 4rem);
        }
    }
    @media (max-width: 850px) {
        flex-direction: column;
    }
}

.goUpButton {
    position: absolute;
    right: 7rem;
    bottom: -4rem;
    transition: all 125ms ease-in-out;
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
    @media (max-width: 650px) {
        right: 2rem;
    }
}