<section id="contact" #contact>
    <h1>
        Contact
        <img class="stroke" src="assets/img/icons/strokePurpleShort3.png" alt="StrokePurple">
        <img class="purpleShadow" src="assets/img/shadows/purpleShadow3.png" alt="purpleShadow">
    </h1>
    <div class="content">
        <div class="left">
            <h2>Got a problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
            <p>Need a Frontend developer? Contact me!</p>
        </div>
        <div class="right">
            <form>
                <input class="name" placeholder="Your name" type="text">
                <input class="mail" placeholder="Your email" type="mail">
                <textarea class="message" placeholder="Your message"></textarea>
                <button type="submit" class="greenButton">Send message</button>
            </form>
        </div>
    </div>
    <img class="goUpButton" (click)="scrollToTop()" src="assets/img/icons/goUpButton.png" alt="goUpButton">
</section>