<section id="portfolio">
    <div class="headline">
        <h1>
            Portfolio
            <img class="short" src="assets/img/icons/strokePurpleShort2.png" alt="Stroke">
            <img class="long" src="assets/img/icons/strokePurpleLong.png" alt="Stroke">
        </h1>
        <p translate>This page is a sample of my work - please feel free to try them out.</p>
    </div>
    <div data-aos="fade-down-right" class="project">
        <div class="img"><img src="assets/img/portfolio.png" alt="portfolio"></div>
        <div class="text">
            <h2>Join</h2>
            <span>JavaScript | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum ipsa perferendis totam ut mollitia hic omnis porro harum beatae!</p>
            <div class="buttons">
                <button class="purpleButton">Live test</button>
                <button class="greenButton">Github</button>
            </div>
        </div>
    </div>
    <div data-aos="fade-down-left" class="project reverse">
        <div class="img"><img src="assets/img/portfolio.png" alt="portfolio"></div>
        <div class="text">
            <h2>Join</h2>
            <span>JavaScript | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum ipsa perferendis totam ut mollitia hic omnis porro harum beatae!</p>
            <div class="buttons">
                <button class="purpleButton">Live test</button>
                <button class="greenButton">Github</button>
            </div>
        </div>
    </div>
    <div data-aos="fade-down-right" class="project">
        <div class="img"><img src="assets/img/portfolio.png" alt="portfolio"></div>
        <div class="text">
            <h2>Join</h2>
            <span>JavaScript | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum ipsa perferendis totam ut mollitia hic omnis porro harum beatae!</p>
            <div class="buttons">
                <button class="purpleButton">Live test</button>
                <button class="greenButton">Github</button>
            </div>
        </div>
    </div>
    <div data-aos="fade-down-left" class="project reverse">
        <div class="img"><img src="assets/img/portfolio.png" alt="portfolio"></div>
        <div class="text">
            <h2>Join</h2>
            <span>JavaScript | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum ipsa perferendis totam ut mollitia hic omnis porro harum beatae!</p>
            <div class="buttons">
                <button class="purpleButton">Live test</button>
                <button class="greenButton">Github</button>
            </div>
        </div>
    </div>
    <div data-aos="fade-down-right" class="project">
        <div class="img"><img src="assets/img/portfolio.png" alt="portfolio"></div>
        <div class="text">
            <h2>Join</h2>
            <span>JavaScript | CSS | HTML</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam cum ipsa perferendis totam ut mollitia hic omnis porro harum beatae!</p>
            <div class="buttons">
                <button class="purpleButton">Live test</button>
                <button class="greenButton">Github</button>
            </div>
        </div>
    </div>
    <img class="purpleShadow" src="assets/img/shadows/purpleShadow2.png" alt="purpleShadow">
    <img class="greenShadow" src="assets/img/shadows/greenShadow2.png" alt="greenShadow">
</section>