<footer>
  <div class="left">
    <span class="name"
      >Ka
      <p>i</p>
      <div class="spaceLeft">W</div>
      <p>i</p>
      eh
      <div class="purple">e</div></span
    >
    <span
      class="imprint"
      translate
      routerLink="/imprint"
      (click)="ScrollToTopService.scrollToTop()"
    >
      Imprint | Privacy
      <img
        loading="lazy"
        class="underline"
        src="assets/img/icons/underline.png"
        alt="underline"
      />
    </span>
  </div>
  <div class="middle">© Kai Wiehe 2023</div>
  <div class="right">
    <a href="https://github.com/KaiWiehe" target="_blank">
      <img loading="lazy" src="assets/img/icons/gitHub.png" alt="gitHub" />
    </a>
    <a href="#contact">
      <img loading="lazy" src="assets/img/icons/mail.png" alt="mail" />
    </a>
    <a href="https://www.linkedin.com/in/kai-wiehe-7075a2261/" target="_blank">
      <img loading="lazy" src="assets/img/icons/linkedin.png" alt="linkedin" />
    </a>
  </div>
</footer>
