$Green: #70E61C;
$LightBlue: #1CDAE6;
$Purple: #9747FF;
$DarkBlueTransparency: #141d2fcc;
$DarkBlueBG: #141D2F;

/* ------------------------------------------------------------- */

section {
    margin: 12rem 0 0 0;
    color: white;
    display: flex;
    gap: 4rem;
    position: relative;
    padding: 10rem 0 0 0;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 0 4rem;
    .flex {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .icon {
        width: 11rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.right {
    margin: 0 7rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1 {
        font-size: 6.5rem;
        margin: -40px 0 0 0;
    }
    p {
        text-align: end;
    }
    div {
        width: 100%;
        display: flex;
        justify-content: center;
        .greenButton {
            color: white;
            margin: 2rem;
            border: 0;
            padding: 0.75rem 1rem;
            border-radius: 0.5rem;
            background: $Green;
            z-index: 1;
            font-size: 1.5rem;
            transition: all 125ms ease-in-out;
            &:hover {
                padding: 1.25rem 1.5rem;
                background: $Purple;
                cursor: pointer;
            }
        }
    }
}

.shadow {
    position: absolute;
    z-index: -1;
}
