@import 'variables.scss';
@import '/node_modules/aos/dist/aos.css';

/* * {
    outline: 1px solid red;
} */

body {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background: $DarkBlueBG;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* scroll-snap-type: y mandatory; */
}


/* section {
    overflow: hidden;
} */


/* section {
    scroll-snap-align: start;
} */

h1 {
    font-size: 6.5rem;
    @media (max-width: "1300px") {
        font-size: 5.5rem;
    }
    @media (max-width: "690px") {
        font-size: 4.5rem;
    }
    @media (max-width: "430px") {
        font-size: 3.5rem;
    }
}